In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [104]:
df = pd.read_csv("../data/train.csv")

df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [105]:
print("Shape (rows, cols):", df.shape)

Shape (rows, cols): (50120, 55)

In [106]:
print("\nTotal missing values:", df.isna().sum().sum())

Total missing values: 0

In [107]:
target_col = "Cover_Type"
print("\nTarget distribution (counts):")
print(df[target_col].value_counts())

Target distribution (counts):
Cover_Type
2    28908
1    10156
5     2416
7     2160
3     2160
6     2160
4     2160
Name: count, dtype: int64

In [108]:
print("\nTarget distribution (percentages):")
print((df[target_col].value_counts(normalize=True) * 100).round(2))

Target distribution (percentages):
Cover_Type
2    57.68
1    20.26
5     4.82
7     4.31
3     4.31
6     4.31
4     4.31
Name: proportion, dtype: float64

In [109]:
print("\nData types:")
print(df.dtypes.value_counts())

Data types:
int64    55
Name: count, dtype: int64

In [110]:
print("\nQuick statistics:")
df.describe().T.head()

Quick statistics:

,count,mean,std,min,25%,50%,75%,max
Elevation,50120.0,2834.154250,281.965313,1863.0,2679.0,2857.0,3021.0,3849.0
Aspect,50120.0,141.027035,106.341527,0.0,55.0,112.0,207.0,360.0
Slope,50120.0,13.128113,7.457464,0.0,8.0,12.0,17.0,61.0
Horizontal_Distance_To_Hydrology,50120.0,241.725858,206.101669,0.0,85.0,190.0,350.0,1343.0
Vertical_Distance_To_Hydrology,50120.0,40.082682,50.024105,-146.0,6.0,25.0,59.0,554.0